.SmallTalks{
    width: 25vw;
    margin: 5vh 5vh;
    border: solid rgba(29, 165, 122, 0.685) 1.2px;
    overflow: hidden;
}
.SmallTalks>.title{
    margin: 0;
    padding: 0;
    width:25vw;
    height: 2vh;
    background-color: rgb(29, 165, 122) ;
}
.SmallTalks>.msg{
    padding: 1.5vh 1.5vh;
}

.mine{
    margin-left: auto;
}
